:root{
    --cyan: hsl(185, 75%, 39%);
    --white: #ffffff;
    --white-ball:#ffffff;
    --card-shadow: hsl(227, 10%, 46%);
    --line-card-follow: hsl(0, 0%, 91%);
    --dark-blue-name: hsl(229, 23%, 23%);   
    --gray: hsl(227, 10%, 46%);
    --brown: hsl(29, 23%, 23%);
    --black: #111;
    --orange-sun: #f39c12;
    --yellow-moon: #f1c40f;
}

:root.dark-mode{
    --white: #292c35;
    --cyan: #292c35;
    --dark-blue-name: #ffffff;
    --gray: #ffffffad;
    --brown: #ffffff;
}

.container{
    width: min(90vw, 800px);
    margin: auto; 
    position: absolute;   
    left: 50%;
}

/* Dark mode - Light mode */
 .checkbox{
    opacity: 0;
    position: absolute;
}

.label{
    background: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    height: 18px;
    width: 42px;
}

.ball{
    background: var(--white-ball);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball{
    transform: translateX(24px);
}

.fa-moon{
    color: var(--yellow-moon);
}

.fa-sun{
    color: var(--orange-sun);
}

body{
    font-size: 18px;
    background-color: var(--cyan);
    font-family: 'Kumbh Sans', Arial, Helvetica, sans-serif;    
}

/* Content */
.content{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-top{
    right: 50%;
    bottom: 43%;
    position: fixed;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 0.6);
}

.img-top:hover{
    filter: blur(30px);
}

.img-bottom{
    top: 50%;
    left: 50%;
    position: fixed;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 0.6);
}

.img-bottom:hover{
    filter: blur(30px);
}

/* Card */
.card{
    width: 350px;
    height: 376px;
    z-index: 1000;
    position: relative;
    border-radius: 15px;
    background-color: var(--white);
    box-shadow: 0px 15px 40px 1px var(--card-shadow);
}

.card.dark-mode{
    box-shadow: 0px 1px 13px 4px var(--card-shadow);
}

.card-header{
    height: auto;
}

.card-img{
    margin: auto;
    border-radius: 15px 15px 0px 0px;
}

.card-content-img{
    bottom: 55px;    
    display: flex;
    cursor: pointer;
    position: relative;
    transform: scale(1);
    justify-content: center;
    transition: transform 0.5s;
}

.card-content-img:hover{
    transform: scale(1.2);
}

.card-img-profile{
    border-radius: 50%;
    border: 5px solid var(--white);
}

.card-body{
    bottom: 55px;
    position: relative;
}

.card-info{
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-follow {
    padding-top: 25px;
    border-top: 1px solid var(--line-card-follow);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Info card */

.card-name{
    font-weight: 700;
    color: var(--dark-blue-name);
}

.card-age{
    margin: 0px 10px;
    font-weight: 400;
    color: var(--gray);
}

.card-live{
    font-size: 14px;
    font-weight: 300;
    margin: -7px 0 15px;
    color: var(--gray);
}

.card-info-follow{
    text-align: center;
}

.card-numbers{
    margin: 0;
    font-weight: 700;
    color: var(--brown);
}

.card-text{
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 2px;
    color: var(--gray);
}